<p style="color: green"><%= notice %></p>

<h1>Ingredients</h1>

<table class="foodlist-talbe">
    <thead>
      <tr>
        <th>Food</th>
        <th>Quantity </th>
        <th>Value price</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
    <% @ingredients.each do |ingredient| %>
      <tr>
        <td><%= ingredient.name %></td>
        <td><%= ingredient.quantity %></td>
        <td><%= ingredient.value %></td>
        <td><%= button_to "Destroy this ingredient", [ingredient.reciipe, ingredient], method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
  </table>
