<p style="color: green"><%= notice %></p>

<h1>Ingredients</h1>

<div id="ingredients">
  <% @ingredients.each do |ingredient| %>
    <%= render ingredient %>
    <div>
      <%= link_to "Edit this ingredient", edit_reciipe_ingredient_path(@reciipe, ingredient) %> |
      <%= button_to "Destroy this ingredient", [ingredient.reciipe, ingredient], method: :delete %>
    </div>
  <% end %>
</div>

<%= link_to "New ingredient", new_reciipe_ingredient_path(@reciipe) %>
