<p style="color: green"><%= notice %></p>

<%= render @ingredient %>

<div>
  <%= link_to "Edit this ingredient", edit_reciipe_ingredient_path(@ingredient.reciipe, @ingredient) %> |
  <%= link_to "Back to recipes", reciipes_path %>

  <%= button_to "Destroy this ingredient", [@ingredient.reciipe, @ingredient], method: :delete %>
</div>
