<div id="<%= dom_id reciipe %>">
  <p>
    <strong>Name:</strong>
    <%= reciipe.name %>
  </p>

  <p>
    <strong>Preparation time:</strong>
    <%= reciipe.preparation_time %>
  </p>

  <p>
    <strong>Cooking time:</strong>
    <%= reciipe.cooking_time %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= reciipe.description %>
  </p>

  <p>
    <strong>Public:</strong>
    <%= reciipe.public %>
  </p>

  <p>
    <strong>User:</strong>
    <%= reciipe.user_id %>
  </p>

</div>
