<p style="color: green"><%= notice %></p>

<h1><%= @reciipe.name %></h1>
<div class="recipelist-container detail">
<div>
<p><strong>Preparation Time:</strong> <%= @reciipe.preparation_time %> minutes</p>
<p><strong>Cooking Time:</strong> <%= @reciipe.cooking_time %> minutes</p>
<p><strong>Description:</strong> <%= @reciipe.description %></p>

<div>
  <%= link_to "Back to recipes", reciipes_path %>

  <% if user_signed_in? && (current_user == @reciipe.user || @reciipe.public?) %>
    <%= button_to "Destroy this recipe", @reciipe, method: :delete %>
  <% end %>
</div>
</div>
<div class="public">
<%= form_with(model: @reciipe) do |form| %>
  <% if user_signed_in? && current_user == @reciipe.user %>
    <div>
      <%= form.label :public, style: "display: block" %>
      <%= form.check_box :public, onchange: "this.form.submit()" %>
    </div>
  <% end %>
<% end %>
</div>
</div>

<%= link_to "Add ingredient", new_reciipe_foods_reciipe_path(@reciipe), class: "btn" %>

<div class="recipeActions">
  <a href="/general_shopping_list">
  <button type="button">Generate Shopping List</button>
  </a>
</div>
<% @reciipe .foods.each_with_index do |recipe_item, index| %>
  <%= render partial: "reciipes/food_recipe_item", locals: { food_item: recipe_item, index: index } %>
<% end %>
