<!DOCTYPE html>
<html>
  <head>
    <title>Recipe</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav>
    <img src="<%= asset_path('girlchef.png') %>" class="logo"/>
      <ul>
        <li><%= link_to 'Foods', foods_path %></li>
        <li><%= link_to 'Recipes', reciipes_path %></li>
        <li><%= link_to 'Public Recipes', public_reciipes_path %>
        <li><%= link_to 'Shopping List', general_shopping_list_path %>
       <li>
       <button> 
       <%= link_to 'Sign out', destroy_user_session_path, method: :delete, data: { turbo_action: 'replace' }, class: 'btn btn-outline-danger ml-2' %>

       </button></li>
      </ul>
    </nav>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
